{% extends "../base.html" %}
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script   src="https://code.jquery.com/jquery-2.1.3.min.js"   integrity="sha256-ivk71nXhz9nsyFDoYoGf2sbjrR9ddh+XDkCcfZxjvcM="   crossorigin="anonymous"></script>
<script src="http://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>
<script src="http://www.nownews.com/assets/js/vendor/sweetalert.min.js" type="text/javascript"></script>
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/reset.css">
<link rel="stylesheet" href="/static/source/css/sign.css">

<link rel="stylesheet" href="http://www.nownews.com/assets/css/sweetalert.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
{% endblock %}
{% block container %}
<header role="banner">
    <div id="cd-logo"><a href="/"><img src="http://www.nownews.com/assets/images/logo.png" alt="Logo"></a></div>

    <nav class="main-nav">
        <!-- <ul>
            <li><a class="cd-signin" href="#0">登入</a></li>
            <li><a class="cd-signup" href="#0">註冊</a></li>
        </ul> -->
        <ul class='' >
            <li>
                <a href='#'>下載</a>
            </li>
        </ul>
    </nav>

</header>

<div class="acd-user-modal is-visible"> <!-- this is the entire modal form, including the background -->
    <div class="cd-user-modal-container"> <!-- this is the container wrapper -->
        <ul class="cd-switcher">
            <li><a href="#0" class="selected">登入</a></li>
            <li><a href="#0">註冊</a></li>
        </ul>

        <div id="cd-login" class="is-selected"> <!-- log in form -->
            <form class="cd-form" action="{{ signinUrl }}" method="post">
                <p class="fieldset">
                    <label class="image-replace cd-email" for="signin-email">E-mail</label>
                    <input class="full-width has-padding has-border" id="signin-email" type="email" placeholder="帳號(EMAIL)" name="email">
                    <span class="cd-error-message">Error message here!</span>
                </p>

                <p class="fieldset">
                    <label class="image-replace cd-password" for="signin-password">密碼</label>
                    <input class="full-width has-padding has-border" id="signin-password" type="password"  placeholder="密碼" name="password">
                    <a href="#0" class="hide-password">顯示</a>
                    <span class="cd-error-message">Error message here!</span>
                </p>

                <p class="fieldset">
                    <input type="checkbox" id="remember-me" checked>
                    <label for="remember-me">記住我</label>
                </p>

                <p class="fieldset">
                    <input class="full-width" type="submit" value="登入">
                </p>
            </form>
            <p class="cd-form-bottom-message"><a href="#0">忘記密碼?</a> </p>
            <!-- <a href="#0" class="cd-close-form">Close</a> -->
        </div> <!-- cd-login -->

        <div id="cd-signup"> <!-- sign up form -->
            <form class="cd-form" action="{{ signupUrl }}" method="post">
                <p class="fieldset">
                    <label class="image-replace cd-username" for="signup-username" >使用者名稱</label>
                    <input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="使用者名稱" name="name" value="123">
                    <span class="cd-error-message">Error message here!</span>
                </p>

                <p class="fieldset">
                    <label class="image-replace cd-email" for="signup-email">E-mail</label>
                    <input class="full-width has-padding has-border" id="signup-email" type="text" placeholder="E-mail" name="email" value="aa@aa">
                    <span class="cd-error-message">Error message here!</span>
                </p>

                <p class="fieldset">
                    <i class="fa fa-birthday-cake" aria-hidden="true" style="display: inline-block;position: absolute;left: 15px;top: 30%;bottom: auto;color:#c2c2c2"></i><!-- <label class="image-replace cd-birthday" for="signup-birthday">出生年月日</label> -->
                    <input class="full-width has-padding has-border" id="signup-birthday" type="text" placeholder="出生年月日" name="birthday" value="1987-10-10">
                    <span class="cd-error-message">Error message here!</span>
                </p>

                <p class="fieldset">
                    <i class="fa fa-transgender" aria-hidden="true" style="display: inline-block;position: absolute;left: 15px;top: 30%;bottom: auto;color:#c2c2c2"></i><!-- <label class="image-replace cd-gender" for="signup-gender">性別</label> -->
                    <input class="full-width has-padding has-border" id="signup-gender" type="text" placeholder="性別" name="gender" value="男">
                    <span class="cd-error-message">Error message here!</span>
                </p>

                <p class="fieldset">
                    <label class="image-replace cd-password" for="signup-password">密碼</label>
                    <input class="full-width has-padding has-border" id="signup-password" type="password"  placeholder="密碼" name="password" value="000000">
                    <a href="#0" class="hide-password">顯示</a>
                    <span class="cd-error-message">Error message here!</span>
                </p>

                <p class="fieldset">
                    <label class="image-replace cd-password" for="signup-confirmPassword">確認密碼</label>
                    <input class="full-width has-padding has-border" id="signup-confirmPassword" type="password"  placeholder="確認密碼" name="confirmPassword" value="000000">
                    <a href="#0" class="hide-password">顯示</a>
                    <span class="cd-error-message">Error message here!</span>
                </p>

                <p class="fieldset">
                    <input type="checkbox" id="accept-terms">
                    <label for="accept-terms">本人已詳閱並同意 <a href="#0">NOWnews服務條款和隱私權</a></label>
                </p>

                <p class="fieldset">
                    <input class="full-width has-padding" type="submit" value="建立帳號">
                </p>
            </form>

            <!-- <a href="#0" class="cd-close-form">Close</a> -->
        </div> <!-- cd-signup -->

        <div id="cd-reset-password"> <!-- reset password form  Lost your password? Please enter your email address. You will receive a link to create a new password.-->
            <p class="cd-form-message">忘記密碼?
            </p>
            <p class="cd-form-message">輸入您的Email。您將會收到重設密碼相關信件
            </p>

            <form class="cd-form" action="{{ passwordResetUrl }}" method="post">
                <p class="fieldset">
                    <label class="image-replace cd-email" for="reset-email">E-mail</label>
                    <input name="email" class="full-width has-padding has-border" id="reset-email" type="email" placeholder="E-mail">
                    <span class="cd-error-message">Error message here!</span>
                </p>

                <p class="fieldset">
                    <input class="full-width has-padding" type="submit" value="重設密碼">
                </p>
            </form>

            <p class="cd-form-bottom-message"><a href="#0">返回登入頁</a></p>
        </div> <!-- cd-reset-password -->
        <!--<a href="#0" class="cd-close-form">Close</a>-->
    </div> <!-- cd-user-modal-container -->
</div> <!-- cd-user-modal -->

<script src="/static/source/js/sign.js"></script>

{% endblock %}
