{% extends "../base.html" %}

{% block container %}

<!DOCTYPE html>
<html>

    <head>
        <base href="http://themes.nomansamejo.com/san/" target="_blank">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->


        <!-- Remove Tap Highlight on Windows Phone IE -->
        <meta name="msapplication-tap-highlight" content="no"/>


        <title>會員中心 | NOWnews今日新聞</title>


        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.mb.YTPlayer/3.0.8/css/jquery.mb.YTPlayer.min.css" >
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" >
        <!--icon font-->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" >

        <!--icon font-->
        <!-- <link rel='stylesheet' type='text/css' href='http://themes.nomansamejo.com/san/css/linea.css' > -->

        <!--波浪效果-->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/node-waves/0.7.5/waves.min.css" >
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.css" >
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" >
        <!-- <link rel="stylesheet" type="text/css" href="http://themes.nomansamejo.com/san/css/style.css" > -->
        <link rel="stylesheet" type="text/css" href="http://localhost:7777/static/source/css/landing.css" >


    </head>

    <body>


        <!-- <div id='preloader' >

            <div class='loader' >
                <img src='http://m.nownews.com/static/img/loading.gif' alt>
            </div>

        </div> -->

        <nav class='navbar navbar-fixed-top' >

            <div class='container' >


                <div class='navbar-header' >


                    <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#nav-collapse' aria-expanded='false'>
                        <span class='sr-only' >Toggle navigation</span>
                        <span class='icon-bar' ></span>
                        <span class='icon-bar' ></span>
                        <span class='icon-bar' ></span>
                    </button>


                    <a href='#' class='navbar-brand' >
                        <img class='logo-light' src='http://www.nownews.com/assets/images/logo.png' alt>
                        <img class='logo-dark' src='http://www.nownews.com/assets/images/logo.png' alt>
                    </a>

                </div>



                <div class='collapse navbar-collapse' id='nav-collapse' >

                    <ul class='nav navbar-nav navbar-right' >

                        <li class='active'>
                            <a href='#intro' data-scroll>首頁</a>
                        </li>

                        <li>
                            <a href='#features-1' data-scroll>Mobile</a>
                        </li>

                        <li>
                            <a href='#features-2' data-scroll>APP</a>
                        </li>

                        <li>
                            <a href='#features-3' data-scroll>WHY JOIN US</a>
                        </li>

                        <li>
                            <a href='#download' data-scroll>下載</a>
                        </li>

                        <li>
                            <a href="#sign" data-scroll>註冊/登入</a>
                        </li>

                    </ul>


                </div>

            </div>

        </nav>

        <section id='intro' class='main-section parallax' data-parallax='scroll' data-image-src='img/bg-main.jpg' >

            <!--Video Background-->
            <a id='bgndVideo' class='player' data-property="{videoURL:'https://www.youtube.com/watch?v=67mpo0v6XLc',containment:'#intro',showControls: false,autoPlay:true, mute:true, startAt:0, opacity:0.3}">My video</a>

            <div class='container' >


                <div class='row' >

                    <div class='col-md-8' >

                        <div class='intro-text' >

                            <h1 class='wow fadeInUp' data-wow-delay='.2s'>
                                NOWnews 華人最專業新聞
                            </h1>

                            <p class='font-alt wow fadeInUp' data-wow-delay='.4s' >《 年輕、公義、真相 》</p>


                            <div class='btns' >

                                <a href='http://localhost:7777/members/sign' class='app-btn wow bounceIn' data-wow-delay='.6s' >
                                    <i class='ion-social-apple' ></i>
                                    前往註冊
                                </a>

                                <a href='#' class='app-btn wow bounceIn' data-wow-delay='.8s' >
                                    <i class='ion-android-playstore' ></i>
                                    關於我們
                                </a>



                            </div>

                        </div>


                    </div>

                    <!-- <div class='col-md-6' >

                        <div class='mockup' >
                            <img src='img/mockup1-front.png' class='front wow fadeInDown' data-wow-duration='.7s' data-wow-delay='1.6s' alt>
                            <img src='img/mockup1-back.png' class='back wow fadeInDown' data-wow-duration='.7s' data-wow-delay='1.3s' alt>
                        </div>

                    </div> -->


                </div>


            </div>

        </section>

        <section id='features-1' class='mockup-section' >

            <div class='container' >

                <div class='row' >

                    <div class='col-md-7' >

                        <div class='screens-mockup' >

                            <img class='phone wow fadeInUp' data-wow-duration='.8s' data-wow-delay='.2s' src='img/mockup2-phone.png' alt>

                            <img class='screen wow fadeIn' data-wow-delay='1s' src='http://localhost:7777/static/source/img/mockup2-screen5.png' alt>
                            <img class='screen wow fadeIn' data-wow-delay='1.4s' src='http://localhost:7777/static/source/img/mockup2-screen6.png' alt>
                            <img class='screen wow fadeIn' data-wow-delay='1.8s' src='http://localhost:7777/static/source/img/mockup2-screen4.png' alt>

                        </div>

                    </div>

                    <div class='col-md-5' >

                        <div class='mockup-text' >

                            <!-- <span class='font-alt wow fadeInUp' data-wow-delay='.2s' >Elegant & </span> -->
                            <h2 class='wow fadeInUp' data-wow-delay='.4s' ><a href="http://m.nownews.com">Mobile Web</a></h2>

                            <p class='wow fadeInUp' data-wow-delay='.6s' >
                                最人性化、高效能手機版服務，我們從經驗中知道，有一些想法雖然在在紙面上很好看，但實際進行後的結果並非如此。我們豐富的經驗可以幫助我們避免掉入這些陷阱，並在整個過程中以迭代的方式進行開發工程。

                            </p>

                            <a href='http://localhost:7777/members/sign' class='btn-custom arrow-btn wow fadeInUp' data-wow-delay='.8s' >
                                加入我們
                                <span class='arrow' ></span>
                            </a>

                        </div>

                    </div>

                </div>


            </div>

        </section>

        <section id='features-2' class='mockup-section section-2' >

            <div class='container' >

                <div class='row' >

                    <div class='col-md-7 col-md-push-5' >

                        <div class='mockup-shadow' >

                            <img class='shadow wow fadeIn' data-wow-delay='.4s' data-wow-offset='200' data-wow-duration='1.2s' src='img/mockup3-shadow.png' alt>
                            <img class='phone wow fadeInDown' data-wow-delay='.2s' data-wow-offset='200' data-wow-duration='1.2s' src='img/mockup3-phone.png' alt>

                        </div>

                    </div>

                    <div class='col-md-5 col-md-pull-7' >

                        <div class='mockup-text' >

                            <!-- <span class='font-alt wow fadeInUp' data-wow-delay='.2s' >Powerful & </span> -->
                            <h2 class='wow fadeInUp' data-wow-delay='.4s' >APP</h2>

                            <p class='wow fadeInUp' data-wow-delay='.6s' >
                                原生 APP 能與使用者有更多的互動，並且支援原生 IOS, Android 相關功能，推播更能夠讓您瞭解這世界上每分每秒發生的大事件
                            </p>

                            <a href='http://localhost:7777/members/sign' class='btn-custom arrow-btn wow fadeInUp' data-wow-delay='.8s' >
                                加入我們
                                <span class='arrow' ></span>
                            </a>

                        </div>

                    </div>

                </div>


            </div>

        </section>

        <section id='features-3' class='features-section' >

            <div class='container' >

                <div class='section-header text-center' >

                    <h2 class='wow fadeInUp' data-wow-delay='.2s' >WHY JOIN US</h2>

                    <p class='wow fadeInUp' data-wow-delay='.4s' ></p>

                </div>

                <div class='row' >

                    <div class='col-md-4' >

                        <div class='col-features text-right' >

                            <div class='col-feature wow fadeInLeft' data-wow-delay='.2s' >
                                <i class='icon-basic-heart' ></i>
                                <h4>更快速</h4>
                                <p>
                                    NOWnews 服務講求效能，讓使用者有快速方便的體驗
                                </p>
                            </div>

                            <div class='col-feature wow fadeInLeft' data-wow-delay='.4s' >
                                <i class='icon-basic-paperplane' ></i>
                                <h4>更即時</h4>
                                <p>
                                    即時推播讓您快速知道世界上發生的大小事
                                </p>
                            </div>

                        </div>

                    </div>

                    <div class='col-md-4' >
                        <div class='mockup wow fadeInUp' data-wow-delay='.2s' >
                            <img src='img/mockup4.png' alt>
                        </div>
                    </div>

                    <div class='col-md-4' >

                        <div class='col-features text-left' >

                            <div class='col-feature wow fadeInRight' data-wow-delay='.2s' >
                                <i class='icon-basic-bolt' ></i>
                                <h4>人性化</h4>
                                <p>
                                    我們的設計貼近使用者的習慣與行為，操作介面人性化，讓您不管使用 app 還是 web 都有一致性的體驗
                                </p>
                            </div>

                            <div class='col-feature wow fadeInRight' data-wow-delay='.4s' >
                                <i class='icon-ecommerce-wallet' ></i>
                                <h4>更安全</h4>
                                <p>
                                    對於所有會員的資料我們保證不外洩，不透露，讓您註冊的安心，保護您的個人資料是我們的責任。
                                </p>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </section>

        <!-- <section id='screenshots' class='screenshots-section' >

            <div class='container' >

                <div class='section-header text-center' >
                    <h2 class='wow fadeInUp' data-wow-delay='.2s' >Screenshots</h2>
                    <p class='wow fadeInUp' data-wow-delay='.4s' >
                        Check how this app looks like, it’s modern and cool
                    </p>
                </div>

                <ul class='screenshots-slider wow fadeInRight' data-wow-delay='.6s' >

                    <li>
                        <figure>

                            <img src='img/screens/1.jpg' alt>


                            <div class='overlay' >
                                <a href='img/screens/1.jpg' class='view-btn' ></a>
                            </div>

                        </figure>
                    </li>

                    <li>
                        <figure>
                            <img src='img/screens/2.jpg' alt>

                            <div class='overlay' >
                                <a href='img/screens/2.jpg' class='view-btn' ></a>
                            </div>

                        </figure>
                    </li>

                    <li>
                        <figure>
                            <img src='img/screens/3.jpg' alt>

                            <div class='overlay' >
                                <a href='img/screens/3.jpg' class='view-btn' ></a>
                            </div>

                        </figure>
                    </li>

                    <li>
                        <figure>
                            <img src='img/screens/4.jpg' alt>

                            <div class='overlay' >
                                <a href='img/screens/4.jpg' class='view-btn' ></a>
                            </div>

                        </figure>
                    </li>

                    <li>
                        <figure>
                            <img src='img/screens/5.jpg' alt>

                            <div class='overlay' >
                                <a href='img/screens/5.jpg' class='view-btn' ></a>
                            </div>

                        </figure>
                    </li>

                    <li>
                        <figure>
                            <img src='img/screens/6.jpg' alt>

                            <div class='overlay' >
                                <a href='img/screens/6.jpg' class='view-btn' ></a>
                            </div>

                        </figure>
                    </li>

                </ul>


            </div>

        </section> -->

        <!-- <section id='video' class='video-section parallax' data-parallax='scroll' data-image-src='img/bg-mockup.jpg' >

            <div class='container' >

                <div class='row' >

                    <div class='col-md-4 col-sm-6' >

                        <div class='watch-video' >

                            <a href='https://www.youtube.com/watch?v=0pXYp72dwl0' class='play-btn wow bounceIn' data-wow-delay='.2s' >
                                <img src='img/play-btn.png' alt>
                            </a>

                            <h4 class='font-alt wow fadeInUp' data-wow-delay='.4s' >Watch Video</h4>


                            <p class='wow fadeInUp' data-wow-delay='.6s' >

                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

                            </p>

                        </div>

                    </div>

                </div>

            </div> -->





        </section>

<!--         <section id='features-4' class='features-2-section' >

            <div class='container' >

                <div class='section-header text-center' >

                    <h2 class='wow fadeInUp' data-wow-delay='.2s' >More Features</h2>

                    <p class='wow fadeInUp' data-wow-delay='.4s' >We've got a lot of features, here are some more</p>

                </div>

                <div class='row' >

                    <div class='col-md-4' >

                        <div class='icon-feature wow fadeInUp' data-wow-delay='.2s' >

                            <div class='icon' >
                                <i class='icon-basic-heart' ></i>
                            </div>

                            <div class='content' >

                                <h4>更人性</h4>

                                <p>

                                    Eu apeirian probatus scriptorem mea. Usu ea unum congue suavitate, no oratio blandit eos, lorem ipsum dolor.

                                </p>

                            </div>

                        </div>

                    </div>

                    <div class='col-md-4' >

                        <div class='icon-feature wow fadeInUp' data-wow-delay='.4s' >

                            <div class='icon' >
                                <i class='icon-basic-paperplane' ></i>
                            </div>

                            <div class='content' >

                                <h4>Send Messages</h4>

                                <p>

                                    Eu apeirian probatus scriptorem mea. Usu ea unum congue suavitate, no oratio blandit eos, lorem ipsum dolor.

                                </p>

                            </div>

                        </div>

                    </div>

                    <div class='col-md-4' >

                        <div class='icon-feature wow fadeInUp' data-wow-delay='.6s' >

                            <div class='icon' >
                                <i class='icon-basic-cup' ></i>
                            </div>

                            <div class='content' >

                                <h4>Award Winning</h4>

                                <p>

                                    Eu apeirian probatus scriptorem mea. Usu ea unum congue suavitate, no oratio blandit eos, lorem ipsum dolor.

                                </p>

                            </div>

                        </div>

                    </div>

                </div>

                <div class='row' >

                    <div class='col-md-4' >

                        <div class='icon-feature wow fadeInUp' data-wow-delay='.2s' >

                            <div class='icon' >
                                <i class='icon-ecommerce-wallet' ></i>
                            </div>

                            <div class='content' >

                                <h4>更安全</h4>

                                <p>

                                    Eu apeirian probatus scriptorem mea. Usu ea unum congue suavitate, no oratio blandit eos, lorem ipsum dolor.

                                </p>

                            </div>

                        </div>

                    </div>

                    <div class='col-md-4' >

                        <div class='icon-feature wow fadeInUp' data-wow-delay='.4s' >

                            <div class='icon' >
                                <i class='icon-basic-gear' ></i>
                            </div>

                            <div class='content' >

                                <h4>Customizable</h4>

                                <p>

                                    Eu apeirian probatus scriptorem mea. Usu ea unum congue suavitate, no oratio blandit eos, lorem ipsum dolor.

                                </p>

                            </div>

                        </div>

                    </div>

                    <div class='col-md-4' >

                        <div class='icon-feature wow fadeInUp' data-wow-delay='.6s' >

                            <div class='icon' >
                                <i class='icon-ecommerce-graph1' ></i>
                            </div>

                            <div class='content' >

                                <h4>Data Report</h4>

                                <p>

                                    Eu apeirian probatus scriptorem mea. Usu ea unum congue suavitate, no oratio blandit eos, lorem ipsum dolor.

                                </p>

                            </div>

                        </div>

                    </div>

                </div>


                <div class='mockup' >

                    <img class='shadow wow zoomIn animated' src='img/perspective-shadow.png' alt>
                    <img class='phone wow fadeInDown animated' src='img/perspective-phone.png' alt>

                </div>

            </div>

        </section> -->

        <!-- <section id='pricing' class='pricing-section' >

            <div class='container' >

                <div class='section-header text-center' >

                    <h2 class='wow fadeInUp' data-wow-delay='.2s' >Pricing</h2>

                    <p class='wow fadeInUp' data-wow-delay='.4s' >We've got affordable pricing packages</p>

                </div>


                <div class='row' >

                    <div class='col-md-4' >

                        <div class='p-table wow fadeInRight' data-wow-delay='.8s' >

                            <div class='header' >

                                <h4>Basic</h4>

                                <div class='price' >
                                    <span class='currency' >$</span>
                                    <span class='amount' >0.99</span>
                                    <span class='period' >/month</span>
                                </div>

                            </div>

                            <ul class='items' >
                                <li>4 TB Storage</li>
                                <li>8 GB RAM</li>
                                <li>Unlimited Bandwidth</li>
                            </ul>

                            <a href='#' class='pricing-btn arrow-btn' >
                                Choose This
                                <span class='arrow' ></span>
                            </a>


                        </div>

                    </div>

                    <div class='col-md-4' >

                        <div class='p-table standard wow bounceIn' data-wow-delay='.2s' >

                            <div class='header' >

                                <h4>Pro</h4>

                                <div class='price' >
                                    <span class='currency' >$</span>
                                    <span class='amount' >1.99</span>
                                    <span class='period' >/month</span>
                                </div>

                            </div>

                            <ul class='items' >
                                <li>4 TB Storage</li>
                                <li>8 GB RAM</li>
                                <li>Unlimited Bandwidth</li>
                            </ul>

                            <a href='#' class='pricing-btn arrow-btn' >
                                Choose This
                                <span class='arrow' ></span>
                            </a>


                        </div>

                    </div>

                    <div class='col-md-4' >

                        <div class='p-table wow fadeInLeft' data-wow-delay='.8s' >

                            <div class='header' >

                                <h4>Gold</h4>

                                <div class='price' >
                                    <span class='currency' >$</span>
                                    <span class='amount' >4.99</span>
                                    <span class='period' >/month</span>
                                </div>

                            </div>

                            <ul class='items' >
                                <li>4 TB Storage</li>
                                <li>8 GB RAM</li>
                                <li>Unlimited Bandwidth</li>
                            </ul>

                            <a href='#' class='pricing-btn arrow-btn' >
                                Choose This
                                <span class='arrow' ></span>
                            </a>


                        </div>

                    </div>

                </div>






            </div>

        </section> -->

        <!-- <section id='testimonials' class='testimonials-section' >
            <div class='container' >

                <div class='testimonials-slider wow fadeInUp' data-wow-delay='.2s' >

                    <div class='testimonial' >

                        <div class='icon' >
                            <i class='ion-quote' ></i>
                        </div>

                        <div class='content' >
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>

                        <div class='author' >

                            <img class='author-img' src='img/people1.jpg' alt>

                            <img class='signature' src='img/signature.png' alt>

                            <h4>John Doe</h4>

                            <span>Co-Founder & CEO at Company</span>

                        </div>


                    </div>

                    <div class='testimonial' >

                        <div class='icon' >
                            <i class='ion-quote' ></i>
                        </div>

                        <div class='content' >
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>

                        <div class='author' >

                            <img class='author-img' src='img/people2.jpg' alt>

                            <img class='signature' src='img/signature.png' alt>

                            <h4>John Doe</h4>

                            <span>Co-Founder & CEO at Company</span>

                        </div>


                    </div>

                    <div class='testimonial' >

                        <div class='icon' >
                            <i class='ion-quote' ></i>
                        </div>

                        <div class='content' >
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>

                        <div class='author' >

                            <img class='author-img' src='img/people3.jpg' alt>

                            <img class='signature' src='img/signature.png' alt>

                            <h4>John Doe</h4>

                            <span>Co-Founder & CEO at Company</span>

                        </div>


                    </div>

                    <div class='testimonial' >

                        <div class='icon' >
                            <i class='ion-quote' ></i>
                        </div>

                        <div class='content' >
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>

                        <div class='author' >

                            <img class='author-img' src='img/people4.jpg' alt>

                            <img class='signature' src='img/signature.png' alt>

                            <h4>John Doe</h4>

                            <span>Co-Founder & CEO at Company</span>

                        </div>


                    </div>

                </div>

            </div>
        </section> -->

        <section id='download' class='cta-section parallax' data-parallax='scroll' data-image-src='img/bg.jpg' >

            <div class='container' >


                <div class='download-app' >


                    <h2 class='wow fadeInUp' data-wow-delay='.2s' >Download this app now</h2>


                    <div class='download-btns' >

                        <a href='#' class='wow bounceIn' data-wow-delay='.4s' >
                            <img src='img/android.png' alt>
                        </a>

                        <a href='#' class='wow bounceIn' data-wow-delay='.6s' >
                            <img src='img/apple.png' alt>
                        </a>

                    </div>


                </div>


               <!--  <div class='newsletter' >

                    <h4 class='wow fadeInUp' data-wow-delay='.2s' >Stay Updated</h4>

                    <div class='row' >

                        <div class='col-md-8 col-md-offset-2' >

                            <form class='newsletter-form' method='post' action='http://example.us11.list-manage.com/subscribe/post?u=5e52e42b5fdb949fb5ed82047&id=826e149b9d' >

                                <div class='subscribe-input wow fadeInUp' data-wow-delay='.4s' >

                                    <input class='txt' type='email' id='newsletter-email' name='email' placeholder='Your Email' >
                                    <span></span>

                                    <button class='subscribe' type='submit' >Subscribe</button>

                                </div>

                                <label for='newsletter-email' ></label>

                            </form>


                        </div>

                    </div>

                </div> -->


            </div>

        </section>

        <!-- <section id='contact' class='contact-section' >

            <div class='container' >

                <div class='section-header text-center' >
                    <h2 class='wow fadeInUp' data-wow-delay='.2s' >Say Hello!</h2>
                    <p class='wow fadeInUp' data-wow-delay='.4s' >If you've got any questions, mail us, we will get in touch</p>
                </div>

                <div class='row' >

                    <div class='col-md-8 col-md-offset-2' >

                        <form id='contact-form' name='contactForm' class='contact-form' data-toggle='validator' >

                            <div id='contact-form-result' ></div>

                            <div class='row' >

                                <div class='col-md-6' >

                                    <div class='form-group' >

                                        <input type='text' class='form-control wow fadeInUp' data-wow-delay='.4s' name='name' placeholder='Name' required>
                                        <div class='help-block with-errors' ></div>

                                    </div>

                                </div>

                                <div class='col-md-6' >

                                    <div class='form-group' >

                                        <input type='email' class='form-control wow fadeInUp' data-wow-delay='.5s' name='email' placeholder='Email' required>
                                        <div class='help-block with-errors' ></div>

                                    </div>

                                </div>

                            </div>

                            <div class='form-group' >
                                <input type='text' class='form-control wow fadeInUp' data-wow-delay='.6s' placeholder='Subject' required>
                                <div class='help-block with-errors' ></div>
                            </div>

                            <div class='form-group' >
                                <textarea class='form-control wow fadeInUp' data-wow-delay='.8s' placeholder='Message' rows='5' required></textarea>
                                <div class='help-block with-errors' ></div>
                            </div>

                            <div class='form-group text-center' >
                                <button type='submit' class='btn-custom wow fadeInUp' data-wow-delay='1s' >
                                    Send Message
                                </button>
                            </div>

                        </form>


                    </div>

                </div>



            </div>

        </section> -->

        <footer>
            <div class='container' >

                <div class='row' >

                    <div class='col-sm-6' >

                        <p class='wow fadeInLeft' data-wow-delay='.2s' >
                            &copy; 2016 MiApp. All Rights Reserved.
                        </p>

                    </div>

                    <div class='col-sm-6' >

                        <ul class='footer-social wow fadeInRight' data-wow-delay='.2s' >

                            <li>
                                <a href='#' >
                                    <i class='ion-social-facebook' ></i>
                                </a>
                            </li>

                            <li>
                                <a href='#' >
                                    <i class='ion-social-twitter' ></i>
                                </a>
                            </li>

                            <li>
                                <a href='#' >
                                    <i class='ion-social-pinterest' ></i>
                                </a>
                            </li>

                            <li>
                                <a href='#' >
                                    <i class='ion-social-dribbble' ></i>
                                </a>
                            </li>

                        </ul>

                    </div>

                </div>

            </div>
        </footer>

        <script src="http://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <!--<script src='js/jquery.min.js' ></script>-->

        <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' ></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js' ></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.mb.YTPlayer/3.0.8/jquery.mb.YTPlayer.min.js' ></script>
        <!--<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-parallax/1.1.3/jquery-parallax-min.js' ></script>-->
        <!--<script src='js/parallax.min.js' ></script>-->
        <!--<script src='js/particles.min.js' ></script>-->
        <script src='js/waves.min.js' ></script>
        <script src='js/owl.carousel.min.js' ></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js' ></script>
        <!--<script src='https://cdnjs.cloudflare.com/ajax/libs/validator/6.1.0/validator.min.js' ></script>-->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/5.2.0/js/smooth-scroll.min.js' ></script>
        <!--<script src='js/smooth-scroll.min.js' ></script>-->

        <script src='http://localhost:7777/static/source/js/landing.js' ></script>

        <script>
            /*=========================================================================
                YTPlayer Plugin Initialization
            =========================================================================*/
            $(function(){
                $(".player").YTPlayer();
            });
        </script>

    </body>
</html>
{% endblock %}
